.container {
  padding: 2rem;
}

.search-box {
  margin-bottom: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  padding-top: 1rem;
}

.movie-card {
  text-align: center;
  width: 100%;
}

.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  max-width: 500px;
  max-height: 80vh;
  overflow-y: auto;
  position: relative;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  align-items: center;
  padding-top: 2rem;
}

.pagination button {
  padding: 0.5rem 1rem;
  font-weight: bold;
  cursor: pointer;
}

.pagination span {
  font-size: 1rem;
}


@media (max-width: 600px) {
  .container {
    padding: 1rem;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 1rem;
  }

  .modal-content {
    padding: 1.5rem;
  }
}